<h3>Member Detail Compontent</h3>

<span>Voce está editando:  {{selected_member.name}} {{selected_member.surname}}</span>

<span class="image left">
  <img src="{{selected_member.photo}}" alt=" Foto de {{selected_member.name}}">
</span>

<input type="text" [(ngModel)]="selected_member.id" readonly><br>
<input type="text" [(ngModel)]="selected_member.name"><br>
<input type="text" [(ngModel)]="selected_member.surname"><br>
<input type="text" [(ngModel)]="selected_member.phone"><br>
<button (click)="update()" class="button small">Update Member</button>
<button (click)="delete()" class="button small">Delete Member</button>

<button (click)="newMember()" class="button primary small">Novo</button>
