<h1>Members</h1>

<table class="alt">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members" (click)="memberClicked(member)">
      <td>{{member.id}}</td>
      <td>{{member.name}} {{member.surname}}</td>
      <td>{{member.phone}}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
