<p>Novo membro</p>

<input type="text" [(ngModel)]="member.name" placeholder="First name"><br>
<input type="text" [(ngModel)]="member.surname" placeholder="surname"><br>
<input type="text" [(ngModel)]="member.phone" placeholder="phone"><br>
<button (click)="save()">Salvar Member</button>


